.not{
    background-color: rgb(147, 124, 168);
    height:auto;
}
.Add-user,.View,.Delete{
    background-color: black;
    padding: 5px;
    color: white;
}
.user-display{
    background-color: rgb(195, 205, 233);
    display:flex;
    flex-direction: row;
    margin: 50px;
    padding: 10px;
}
h3{
    padding: 5px;
}
.user-image{
   border-radius: 100%;
   background-color: rgb(172, 122, 219);
   height: 75%;
   width: 75%;
}
.user-info{
    background-color: aliceblue;
}
