.not{
    background-color: blueviolet;
    height: 5000px;
}
.Add-user,.View,.Delete{
    background-color: black;
    padding: 5px;
    border-radius: 80%;
}
.user-display{
    background-color: blue;
    display:flex;
    flex-direction: row;
    margin-left: 10px;
    padding: 10px;

}
h3{
    padding: 5px;
}