.not{
    background-color: rgb(240, 237, 237);
    height:auto;
}
.Display-usersSection{
      background-color: rgb(240, 237, 237);
      border-radius: 25%;
    margin-top: 5%;
}
.View,.Delete{
    background-color: black;
    padding: 5px;
    color: white;
    
}
.Add-user{
    text-align: right;
     background-color: black;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
    margin-left: 1000px;
    color: white;
}
.card{
    background-color: white;
    display:flex;
    flex-direction: row;
    justify-content: center;   
    padding: 10px;
   
/* }
.user-display{
    display: flex;
    flex-direction: row;
    justify-content: left; */

}
.user-images{
    width: 25%;
}
h3{
    padding: 5px;
}
.user-image{
   border-radius: 100%;
   background-color: rgb(172, 122, 219);
   height: 45%;
   width: 25%;
}
.user-info{
    background-color: aliceblue;
    width:25%;
}
