.not{
   
    height:auto;
}
.Display-usersSection{
     
      border-radius: 25%;
    margin-top: 5%;

}
.View,.Delete{
    background-color: black;
    padding: 5px;
    color: white;
    
}
.Add-user{
    text-align: right;
     background-color: black;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
    margin-left: 1000px;
    color: white;
}
.admin-card{
    background-color: white;
    display:flex;
    flex-direction: row;
    justify-content: center;   
    padding: 10px;
    border-radius: 10px;
   
}
.user-display{
  
 background-color: rgb(240, 237, 237);
}

h3{
    padding: 5px;
}
.user-images{
    align-items: center;
   margin-left: 30%;
}
.user-image{
   border-radius: 100%;
   background-color: rgb(172, 122, 219);
   height: 75%;
   width: 60%;
   align-content: center;
 
}
.user-info{
    background-color: rgb(230, 227, 227);
    
}
.btn-align{
    display: flex;
    justify-content: space-around;
}
