.not{
    background-color: rgb(240, 237, 237);
    height:auto;
}
.View,.Delete{
    background-color: black;
    padding: 5px;
    color: white;
    
}
.Add-user{
    text-align: right;
     background-color: black;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
    margin-left: 1000px;
    color: white;
}
.user-display{
    background-color:white;
    display:grid;
    
    justify-content: center;   
    padding: 10px;
}
h3{
    padding: 5px;
}
.user-image{
   border-radius: 100%;
   background-color: rgb(172, 122, 219);
   height: 75%;
   width: 75%;
}
.user-info{
    background-color: aliceblue;
}
